h1{
	font-size:64px;
}
vert{
	color:#1d612e;
}
body {
        font-size:30px;    
		margin: 0;
        font-family: Arial, sans-serif;
        }

        .header {
            background-color: #326e6c; /* Dark teal color */
            padding: 10px 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

			.menu {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				gap: 30px;
			}

			.menu li {
				display: inline;
			}

			.menu a {
				text-decoration: none;
				color: white;
				font-size: 16px;
				font-weight: bold;
				transition: color 0.3s ease;
			}

			.menu a:hover {
				color: #d1d1d1; /* Light gray on hover */
				font-size: 18px;
				transition: font-size 0.3s ease;
			}
